# Water

Data source: https://data.apps.fao.org/aquastat

When: 2025-03-17

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv(filepath_or_buffer=".data/Water_2025-03-17.csv.xz", compression="xz")

In [3]:
data.head()

,Unnamed: 0,Country,M49,Variable,Year,Unit,Symbol,Symbol Description,Value
0,0,Philippines,608,Exploitable: regular renewable groundwater,1999,NaN,I,"Imputed (carry forward, vertical imputation, l...",20.200000
1,1,Seychelles,690,Total dam capacity,1999,NaN,I,"Imputed (carry forward, vertical imputation, l...",0.001000
2,2,Malta,470,Total dam capacity,1999,NaN,I,"Imputed (carry forward, vertical imputation, l...",0.000000
3,3,China,156,Agricultural water withdrawal,1999,NaN,I,"Imputed (carry forward, vertical imputation, l...",382.585714
4,4,Congo,178,Agricultural water withdrawal,1999,NaN,I,"Imputed (carry forward, vertical imputation, l...",0.004031