# Water

Data source: https://data.apps.fao.org/aquastat

Direct link: https://www.fao.org/aquastat/data/AQUASTAT%20Statistics%20Bulk%20Download%20(English).zip

Date: 2025-03-17

Exploring world water data, see what insights present themselves.

In [1]:
import gc

import pandas as pd
from IPython.core.interactiveshell import InteractiveShell

InteractiveShell.ast_node_interactivity = 'all'

In [2]:
data = pd.read_csv(filepath_or_buffer=".data/Water_2025-03-17.csv.xz", index_col=0, compression="xz")

In [3]:
data.describe()

                 M49           Year  Unit         Value
count  830909.000000  830909.000000   0.0  8.309090e+05
mean      424.143856    1999.900703   NaN  4.465928e+09
std       254.744370      14.991428   NaN  1.433078e+11
min         1.000000    1967.000000   NaN -4.155000e+01
25%       203.000000    1989.000000   NaN  5.672727e-01
50%       418.000000    2003.000000   NaN  2.140000e+01
75%       642.000000    2013.000000   NaN  2.378127e+02
max       894.000000    2021.000000   NaN  2.331508e+13

In [4]:
data.columns

Index(['Country', 'M49', 'Variable', 'Year', 'Unit', 'Symbol',
       'Symbol Description', 'Value'],
      dtype='object')

In [5]:
data.head()
data.tail()

,Country,M49,Variable,Year,Unit,Symbol,Symbol Description,Value
0,Philippines,608,Exploitable: regular renewable groundwater,1999,NaN,I,"Imputed (carry forward, vertical imputation, l...",20.200000
1,Seychelles,690,Total dam capacity,1999,NaN,I,"Imputed (carry forward, vertical imputation, l...",0.001000
2,Malta,470,Total dam capacity,1999,NaN,I,"Imputed (carry forward, vertical imputation, l...",0.000000
3,China,156,Agricultural water withdrawal,1999,NaN,I,"Imputed (carry forward, vertical imputation, l...",382.585714
4,Congo,178,Agricultural water withdrawal,1999,NaN,I,"Imputed (carry forward, vertical imputation, l...",0.004031

,Country,M49,Variable,Year,Unit,Symbol,Symbol Description,Value
830904,Latvia,428,% of the area equipped for irrigation managed ...,2010,NaN,NaN,"Official value, data come from one national so...",16.670
830905,Latvia,428,% of the agricultural holdings with irrigation...,2010,NaN,NaN,"Official value, data come from one national so...",23.810
830906,Montenegro,499,% of the agricultural holdings with irrigation...,2010,NaN,NaN,"Official value, data come from one national so...",7.651
830907,United Kingdom of Great Britain and Northern I...,826,% of the agricultural holdings with irrigation...,2010,NaN,NaN,"Official value, data come from one national so...",2.463
830908,Sweden,752,% of the agricultural holdings with irrigation...,2010,NaN,NaN,"Official value, data come from one national so...",2.795

In [6]:
COUNTRY = "Kenya"

In [7]:
country = data.query(expr=f"Country == '{COUNTRY}'")

In [8]:
country.describe()

          M49         Year  Unit         Value
count  5002.0  5002.000000   0.0  5.002000e+03
mean    404.0  1999.363854   NaN  5.744884e+08
std       0.0    14.923599   NaN  4.849120e+09
min     404.0  1967.000000   NaN  0.000000e+00
25%     404.0  1990.000000   NaN  3.000000e+00
50%     404.0  2001.000000   NaN  1.857000e+01
75%     404.0  2012.000000   NaN  1.018200e+02
max     404.0  2021.000000   NaN  1.105579e+11

In [9]:
country.dtypes

Country                object
M49                     int64
Variable               object
Year                    int64
Unit                  float64
Symbol                 object
Symbol Description     object
Value                 float64
dtype: object

In [10]:
country

,Country,M49,Variable,Year,Unit,Symbol,Symbol Description,Value
60,Kenya,404,Municipal water withdrawal,1999,NaN,I,"Imputed (carry forward, vertical imputation, l...",0.449385
232,Kenya,404,Area equipped for full control irrigation: sur...,1999,NaN,I,"Imputed (carry forward, vertical imputation, l...",41.180000
413,Kenya,404,Area equipped for irrigation by surface water,1999,NaN,I,"Imputed (carry forward, vertical imputation, l...",91.136667
545,Kenya,404,Harvested irrigated temporary crop area: Veget...,1999,NaN,I,"Imputed (carry forward, vertical imputation, l...",29.587692
579,Kenya,404,Harvested irrigated permanent crop area: Other...,1999,NaN,I,"Imputed (carry forward, vertical imputation, l...",0.030000
...,...,...,...,...,...,...,...,...
830640,Kenya,404,Groundwater: entering the country (total),2010,NaN,NaN,"Official value, data come from one national so...",0.000000
830656,Kenya,404,Groundwater: leaving the country to other coun...,2010,NaN,NaN,"Official value, data come from one national so...",0.000000
830779,Kenya,404,Area equipped for irrigation: spate irrigation,2010,NaN,NaN,"Official value, data come from one national so...",6.470000
830860,Kenya,404,Water withdrawal for livestock (watering and c...,2010,NaN,NaN,"Official value, data come from one national so...",0.255000
830879,Kenya,404,Number of municipal wastewater treatment facil...,2010,NaN,NaN,"Official value, data come from one national so...",27.000000

In [11]:
selekta = country[['Variable','Year','Symbol','Symbol Description','Value']].copy()

In [12]:
selekta.sample(n=5)

,Variable,Year,Symbol,Symbol Description,Value
387347,Area equipped for full control irrigation: loc...,1994,I,"Imputed (carry forward, vertical imputation, l...",1.181818
148292,Total water withdrawal,2021,I,"Imputed (carry forward, vertical imputation, l...",4.032000
421214,Long-term average annual precipitation in depth,2015,X,External value (reported by FAOSTAT or another...,630.000000
105082,Total renewable water resources,2007,E,Estimate either calculated as sum or identify ...,30.700000
220008,Environmental Flow Requirements,1988,X,External value (reported by FAOSTAT or another...,18.570000

In [13]:
selekta["Symbol"].value_counts(dropna=False)

Symbol
E      1850
I      1363
X      1045
NaN     744
Name: count, dtype: int64

In [14]:
symbol_meaning = {symbol: set(selekta['Symbol Description'][selekta['Symbol'].isna() if pd.isna(symbol) else selekta['Symbol'] == symbol]) for symbol in selekta['Symbol'].unique()}
symbol_meaning

{'I': {'Imputed (carry forward, vertical imputation, linear interpolation)'},
 'X': {'External value (reported by FAOSTAT or another international agency)'},
 'E': {'Estimate either calculated as sum or identify (yield) from official values or from an AQUASTAT estimation'},
 nan: {'Official value, data come from one national source (FAO questionnaire on water and agriculture, report, publication, official website, etc.)'}}

Mmmmm ...

In [15]:
distilled = selekta.pivot(index="Year", columns="Variable").copy()
distilled.columns = distilled.columns.get_level_values(1)

In [16]:
distilled.head()

Variable,% of agricultural GVA produced by irrigated agriculture,% of agricultural water managed area equipped for irrigation,% of area equipped for full control irrigation actually irrigated,% of area equipped for irrigation by direct use of non-treated municipal wastewater,% of area equipped for irrigation by groundwater,% of area equipped for irrigation by surface water,% of area equipped for irrigation power irrigated,% of area equipped for irrigation salinized,% of irrigation potential equipped for irrigation,% of the area equipped for irrigation actually irrigated,...,Total renewable water resources,Total renewable water resources per capita,Total water withdrawal,Total water withdrawal per capita,Treated municipal wastewater,Urban population,Urban population with access to safe drinking-water (JMP),Water resources: total external renewable,Water withdrawal for aquaculture,Water withdrawal for livestock (watering and cleaning)
Year,,,,,,,,,,,,,,,,,,,,,
1967,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,30.7,3009.488810,NaN,NaN,NaN,935.108,NaN,10.0,NaN,NaN
1968,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,30.7,2892.439775,NaN,NaN,NaN,1000.347,NaN,10.0,NaN,NaN
1969,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,30.7,2780.910202,NaN,NaN,NaN,1070.482,NaN,10.0,NaN,NaN
1970,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,30.7,2675.827351,NaN,NaN,NaN,1158.465,NaN,10.0,NaN,NaN
1971,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,30.7,2580.166487,NaN,NaN,NaN,1256.485,NaN,10.0,NaN,NaN

In [17]:
prime = distilled.loc[:, distilled.notna().all()].copy()

In [18]:
print(f"{len(distilled.columns) - len(prime.columns)} columns less. Nice.")

256 columns less. Nice.

In [19]:
prime.head()

Variable,% of total country area cultivated,"Agriculture, value added (% GDP)","Agriculture, value added to GDP",Arable land area,Cultivated area (arable land + permanent crops),Dam capacity per capita,Dependency ratio,Environmental Flow Requirements,Gross Domestic Product (GDP),Groundwater: accounted outflow to other countries,...,Total exploitable water resources,Total internal renewable water resources (IRWR),Total internal renewable water resources per capita,Total population,Total renewable groundwater,Total renewable surface water,Total renewable water resources,Total renewable water resources per capita,Urban population,Water resources: total external renewable
Year,,,,,,,,,,,,,,,,,,,,,
1967,E,X,X,X,X,E,E,X,X,E,...,0.6,20.7,2029.199296,10201.068,3.5,30.2,30.7,3009.488810,935.108,10.0
1968,E,X,X,X,X,E,E,X,X,E,...,0.6,20.7,1950.276982,10613.877,3.5,30.2,30.7,2892.439775,1000.347,10.0
1969,E,X,X,X,X,E,E,X,X,E,...,0.6,20.7,1875.076260,11039.551,3.5,30.2,30.7,2780.910202,1070.482,10.0
1970,E,X,X,X,X,E,E,X,X,E,...,0.6,20.7,1804.222351,11473.087,3.5,30.2,30.7,2675.827351,1158.465,10.0
1971,E,X,X,X,X,E,E,X,X,E,...,0.6,20.7,1739.721377,11898.457,3.5,30.2,30.7,2580.166487,1256.485,10.0

In [20]:
prime.isna().any().any()

np.False_

In [21]:
prime = prime.select_dtypes(include='number').copy()

In [22]:
prime.sample(n=7)

Variable,% of total country area cultivated,"Agriculture, value added (% GDP)","Agriculture, value added to GDP",Arable land area,Cultivated area (arable land + permanent crops),Dam capacity per capita,Dependency ratio,Environmental Flow Requirements,Exploitable: regular renewable groundwater,Gross Domestic Product (GDP),...,Total exploitable water resources,Total internal renewable water resources (IRWR),Total internal renewable water resources per capita,Total population,Total renewable groundwater,Total renewable surface water,Total renewable water resources,Total renewable water resources per capita,Urban population,Water resources: total external renewable
Year,,,,,,,,,,,,,,,,,,,,,
2021,11.044678,21.785564,2.474890e+10,5800.0,6410.0,467.597168,32.57329,18.57,0.6,1.105579e+11,...,0.6,20.7,390.524672,53005.614,3.5,30.2,30.7,579.183933,15608.844,10.0
2001,9.543912,15.477189,2.526351e+09,5128.0,5539.0,778.719745,32.57329,18.57,0.6,1.632306e+10,...,0.6,20.7,650.936375,31800.343,3.5,30.2,30.7,965.398392,6541.648,10.0
2009,10.312387,15.064975,6.883532e+09,5500.0,5985.0,613.499222,32.57329,18.57,0.6,4.055789e+10,...,0.6,20.7,512.827577,40364.444,3.5,30.2,30.7,760.570367,9328.130,10.0
2002,9.507728,14.367958,2.375536e+09,5091.0,5518.0,755.451151,32.57329,18.57,0.6,1.653357e+10,...,0.6,20.7,631.486021,32779.823,3.5,30.2,30.7,936.551732,6839.247,10.0
2003,9.604218,14.338016,2.686683e+09,5146.0,5574.0,733.362914,32.57329,18.57,0.6,1.873818e+10,...,0.6,20.7,613.022336,33767.122,3.5,30.2,30.7,909.168392,7149.767,10.0
1997,9.121767,15.720427,2.576110e+09,4814.0,5294.0,872.948968,32.57329,18.57,0.6,1.638702e+10,...,0.6,20.7,729.791543,28364.264,3.5,30.2,30.7,1082.347844,5471.813,10.0
2004,9.807537,13.851581,2.802902e+09,5258.0,5692.0,711.763386,32.57329,18.57,0.6,2.023525e+10,...,0.6,20.7,594.967164,34791.836,3.5,30.2,30.7,882.390915,7474.389,10.0

And we have complete data :)

Let the fun begin!

In [23]:
gc.collect()

29

In [24]:
prime.describe()

Variable,% of total country area cultivated,"Agriculture, value added (% GDP)","Agriculture, value added to GDP",Arable land area,Cultivated area (arable land + permanent crops),Dam capacity per capita,Dependency ratio,Environmental Flow Requirements,Exploitable: regular renewable groundwater,Gross Domestic Product (GDP),...,Total exploitable water resources,Total internal renewable water resources (IRWR),Total internal renewable water resources per capita,Total population,Total renewable groundwater,Total renewable surface water,Total renewable water resources,Total renewable water resources per capita,Urban population,Water resources: total external renewable
count,55.000000,55.000000,5.500000e+01,55.000000,55.000000,55.000000,5.500000e+01,5.500000e+01,5.500000e+01,5.500000e+01,...,5.500000e+01,5.500000e+01,55.000000,55.000000,55.0,5.500000e+01,5.500000e+01,55.000000,55.000000,55.0
mean,9.049713,18.380532,5.011249e+09,4763.236364,5252.181818,999.122884,3.257329e+01,1.857000e+01,6.000000e-01,2.676798e+10,...,6.000000e-01,2.070000e+01,928.654866,28107.862218,3.5,3.020000e+01,3.070000e+01,1378.427696,5952.226345,10.0
std,1.511463,4.741582,6.162642e+09,847.846640,877.207777,413.672423,7.170917e-15,3.585458e-15,1.120456e-16,2.892530e+10,...,1.120456e-16,3.585458e-15,468.930832,13059.628875,0.0,3.585458e-15,3.585458e-15,695.973749,4188.038373,0.0
min,6.771542,13.232127,4.148478e+08,3500.000000,3930.000000,467.597168,3.257329e+01,1.857000e+01,6.000000e-01,1.232560e+09,...,6.000000e-01,2.070000e+01,390.524672,10201.068000,3.5,3.020000e+01,3.070000e+01,579.183933,935.108000,10.0
25%,7.374606,15.603064,1.754151e+09,3800.000000,4280.000000,641.488371,3.257329e+01,1.857000e+01,6.000000e-01,9.811618e+09,...,6.000000e-01,2.070000e+01,536.223869,16486.543000,3.5,3.020000e+01,3.070000e+01,795.269217,2592.838500,10.0
50%,9.507728,17.221036,2.333219e+09,5060.000000,5518.000000,947.455328,3.257329e+01,1.857000e+01,6.000000e-01,1.387393e+10,...,6.000000e-01,2.070000e+01,792.079390,26133.744000,3.5,3.020000e+01,3.070000e+01,1174.726438,4765.917000,10.0
75%,10.209005,20.021174,5.138337e+09,5445.000000,5925.000000,1295.077859,3.257329e+01,1.857000e+01,6.000000e-01,3.716819e+10,...,6.000000e-01,2.070000e+01,1224.086645,38611.844000,3.5,3.020000e+01,3.070000e+01,1822.454590,8732.261000,10.0
max,11.044678,36.510000,2.474890e+10,5800.000000,6410.000000,1962.410210,3.257329e+01,1.857000e+01,6.000000e-01,1.105579e+11,...,6.000000e-01,2.070000e+01,2029.199296,53005.614000,3.5,3.020000e+01,3.070000e+01,3009.488810,15608.844000,10.0

In [25]:
static_dimensions = prime.loc[:, prime.nunique() == 1]

In [26]:
print(f"{len(static_dimensions)} dimensions have constant data. Hmmmm ...")

55 dimensions have constant data. Hmmmm ...

In [27]:
static_dimensions.head()

Variable,Dependency ratio,Environmental Flow Requirements,Exploitable: regular renewable groundwater,Groundwater produced internally,Groundwater: accounted inflow,Groundwater: accounted outflow to other countries,Groundwater: entering the country (total),Groundwater: leaving the country to other countries (total),Irrigation potential,Overlap between surface water and groundwater,...,Surface water: outflow to other countries submitted to treaties,Surface water: total external renewable,Surface water: total flow of border rivers,Total area of the country (excl. coastal water),Total exploitable water resources,Total internal renewable water resources (IRWR),Total renewable groundwater,Total renewable surface water,Total renewable water resources,Water resources: total external renewable
Year,,,,,,,,,,,,,,,,,,,,,
1967,32.57329,18.57,0.6,3.5,0.0,0.0,0.0,0.0,353.0,3.0,...,0.0,10.0,0.0,58037.0,0.6,20.7,3.5,30.2,30.7,10.0
1968,32.57329,18.57,0.6,3.5,0.0,0.0,0.0,0.0,353.0,3.0,...,0.0,10.0,0.0,58037.0,0.6,20.7,3.5,30.2,30.7,10.0
1969,32.57329,18.57,0.6,3.5,0.0,0.0,0.0,0.0,353.0,3.0,...,0.0,10.0,0.0,58037.0,0.6,20.7,3.5,30.2,30.7,10.0
1970,32.57329,18.57,0.6,3.5,0.0,0.0,0.0,0.0,353.0,3.0,...,0.0,10.0,0.0,58037.0,0.6,20.7,3.5,30.2,30.7,10.0
1971,32.57329,18.57,0.6,3.5,0.0,0.0,0.0,0.0,353.0,3.0,...,0.0,10.0,0.0,58037.0,0.6,20.7,3.5,30.2,30.7,10.0

Let's remove them from the dataset for now. Figure out what to do with them later.

In [28]:
prime.drop(columns=prime.columns[prime.nunique() == 1], inplace=True)

In [29]:
prime.sample(n=7)

Variable,% of total country area cultivated,"Agriculture, value added (% GDP)","Agriculture, value added to GDP",Arable land area,Cultivated area (arable land + permanent crops),Dam capacity per capita,Gross Domestic Product (GDP),"Industry, value added to GDP",Long-term average annual precipitation in depth,Long-term average annual precipitation in volume,National Rainfall Index (NRI),Permanent crops area,Population density,Rural population,"Services, value added to GDP",Total dam capacity,Total internal renewable water resources per capita,Total population,Total renewable water resources per capita,Urban population
Year,,,,,,,,,,,,,,,,,,,,
2015,10.968865,19.469615,1.365218e+10,5800.0,6366.0,529.017883,7.012045e+10,1.143141e+10,630.0,365.6331,902.100000,566.0,80.726929,35116.503,4.117684e+10,24.785275,441.821613,46851.488,655.262006,12119.756
2001,9.543912,15.477189,2.526351e+09,5128.0,5539.0,778.719745,1.632306e+10,2.758045e+09,630.0,365.6331,902.100000,411.0,54.793223,25779.834,1.000439e+10,24.763555,650.936375,31800.343,965.398392,6541.648
2003,9.604218,14.338016,2.686683e+09,5146.0,5574.0,733.362914,1.873818e+10,3.201875e+09,630.0,365.6331,902.100000,428.0,58.182060,26981.085,1.183430e+10,24.763555,613.022336,33767.122,909.168392,7149.767
1970,6.797388,20.543973,5.668076e+08,3500.0,3945.0,1746.232727,2.758997e+09,5.898672e+08,630.0,365.6331,859.075000,445.0,19.768573,10094.027,1.633200e+09,20.034680,1804.222351,11473.087,2675.827351,1158.465
1983,7.374606,18.641609,1.813928e+09,3800.0,4280.0,1204.602340,9.730531e+09,2.083901e+09,630.0,365.6331,942.300000,480.0,31.134382,15343.129,5.732488e+09,21.766515,1145.579273,18069.461,1698.999212,2896.275
1979,7.374606,18.701158,1.850051e+09,3800.0,4280.0,1293.462683,9.892706e+09,2.281865e+09,630.0,365.6331,900.666667,480.0,26.914922,13250.627,5.700688e+09,20.204680,1325.172066,15620.613,1965.351808,2412.225
1976,7.371160,20.844391,1.174718e+09,3800.0,4278.0,1431.307361,5.635656e+09,1.172619e+09,630.0,365.6331,824.633333,478.0,24.298754,12106.747,3.105711e+09,20.184680,1467.849001,14102.268,2176.954799,1889.957

In [30]:
prime.head()
prime.tail()

Variable,% of total country area cultivated,"Agriculture, value added (% GDP)","Agriculture, value added to GDP",Arable land area,Cultivated area (arable land + permanent crops),Dam capacity per capita,Gross Domestic Product (GDP),"Industry, value added to GDP",Long-term average annual precipitation in depth,Long-term average annual precipitation in volume,National Rainfall Index (NRI),Permanent crops area,Population density,Rural population,"Services, value added to GDP",Total dam capacity,Total internal renewable water resources per capita,Total population,Total renewable water resources per capita,Urban population
Year,,,,,,,,,,,,,,,,,,,,
1967,6.771542,36.510000,414847834.0,3500.0,3930.0,1962.410210,1.232560e+09,215291914.0,630.0,365.6331,970.700,430.0,17.576835,9219.376,5.061278e+08,20.01868,2029.199296,10201.068,3009.488810,935.108
1968,6.780157,34.600000,429071828.0,3500.0,3935.0,1887.593007,1.353295e+09,239007904.0,630.0,365.6331,933.300,435.0,18.288121,9501.898,5.720398e+08,20.03468,1950.276982,10613.877,2892.439775,1000.347
1969,6.788773,33.790000,450603819.0,3500.0,3940.0,1814.809316,1.458379e+09,263143895.0,630.0,365.6331,895.900,440.0,19.021574,9797.234,6.199756e+08,20.03468,1875.076260,11039.551,2780.910202,1070.482
1970,6.797388,20.543973,566807616.0,3500.0,3945.0,1746.232727,2.758997e+09,589867178.0,630.0,365.6331,859.075,445.0,19.768573,10094.027,1.633200e+09,20.03468,1804.222351,11473.087,2675.827351,1158.465
1971,6.806003,19.181044,586465684.0,3500.0,3950.0,1683.804883,3.057527e+09,694812969.0,630.0,365.6331,822.250,450.0,20.501502,10401.029,1.865059e+09,20.03468,1739.721377,11898.457,2580.166487,1256.485

Variable,% of total country area cultivated,"Agriculture, value added (% GDP)","Agriculture, value added to GDP",Arable land area,Cultivated area (arable land + permanent crops),Dam capacity per capita,Gross Domestic Product (GDP),"Industry, value added to GDP",Long-term average annual precipitation in depth,Long-term average annual precipitation in volume,National Rainfall Index (NRI),Permanent crops area,Population density,Rural population,"Services, value added to GDP",Total dam capacity,Total internal renewable water resources per capita,Total population,Total renewable water resources per capita,Urban population
Year,,,,,,,,,,,,,,,,,,,,
2017,11.006772,20.886251,1.714026e+10,5800.0,6388.0,506.357882,8.206480e+10,1.227030e+10,630.0,365.6331,902.1,588.0,84.339537,36498.515,4.790919e+10,24.785275,422.896585,48948.137,627.194453,13201.347
2018,11.025725,20.314910,1.873095e+10,5800.0,6399.0,496.168882,9.220298e+10,1.381944e+10,630.0,365.6331,902.1,599.0,86.071479,37179.074,5.379492e+10,24.785275,414.387004,49953.304,614.573963,13771.805
2019,11.044678,21.169503,2.094011e+10,5800.0,6410.0,486.448865,1.005542e+11,1.483142e+10,630.0,365.6331,902.1,610.0,87.791323,37851.953,5.833482e+10,24.785275,406.269105,50951.450,602.534373,14362.838
2020,11.044678,23.047567,2.277179e+10,5800.0,6410.0,476.770282,1.010137e+11,1.542635e+10,630.0,365.6331,902.1,610.0,89.573513,38516.638,5.637463e+10,24.785275,398.185812,51985.780,590.546107,14975.059
2021,11.044678,21.785564,2.474890e+10,5800.0,6410.0,467.597168,1.105579e+11,1.656081e+10,630.0,365.6331,902.1,610.0,91.330727,39172.008,6.223591e+10,24.785275,390.524672,53005.614,579.183933,15608.844

In [31]:
len(prime.columns)

20