# Water

Data source: https://data.apps.fao.org/aquastat

Direct link: https://www.fao.org/aquastat/data/AQUASTAT%20Statistics%20Bulk%20Download%20(English).zip

Date: 2025-03-17

Exploring world water data, see what insights present themselves.

In [1]:
import gc

import pandas as pd
from IPython.core.interactiveshell import InteractiveShell

InteractiveShell.ast_node_interactivity = 'all'

In [2]:
data = pd.read_csv(filepath_or_buffer=".data/Water_2025-03-17.csv.xz", index_col=0, compression="xz")

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 830909 entries, 0 to 830908
Data columns (total 8 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Country             830909 non-null  object
 1   M49                 830909 non-null  int64
 2   Variable            830909 non-null  object
 3   Year                830909 non-null  int64
 4   Unit                0 non-null       float64
 5   Symbol              688245 non-null  object
 6   Symbol Description  830909 non-null  object
 7   Value               830909 non-null  float64
dtypes: float64(2), int64(2), object(4)
memory usage: 57.1+ MB

In [4]:
data.columns

Index(['Country', 'M49', 'Variable', 'Year', 'Unit', 'Symbol',
       'Symbol Description', 'Value'],
      dtype='object')

In [5]:
data.head()
data.tail()

,Country,M49,Variable,Year,Unit,Symbol,Symbol Description,Value
0,Philippines,608,Exploitable: regular renewable groundwater,1999,NaN,I,"Imputed (carry forward, vertical imputation, l...",20.200000
1,Seychelles,690,Total dam capacity,1999,NaN,I,"Imputed (carry forward, vertical imputation, l...",0.001000
2,Malta,470,Total dam capacity,1999,NaN,I,"Imputed (carry forward, vertical imputation, l...",0.000000
3,China,156,Agricultural water withdrawal,1999,NaN,I,"Imputed (carry forward, vertical imputation, l...",382.585714
4,Congo,178,Agricultural water withdrawal,1999,NaN,I,"Imputed (carry forward, vertical imputation, l...",0.004031

,Country,M49,Variable,Year,Unit,Symbol,Symbol Description,Value
830904,Latvia,428,% of the area equipped for irrigation managed ...,2010,NaN,NaN,"Official value, data come from one national so...",16.670
830905,Latvia,428,% of the agricultural holdings with irrigation...,2010,NaN,NaN,"Official value, data come from one national so...",23.810
830906,Montenegro,499,% of the agricultural holdings with irrigation...,2010,NaN,NaN,"Official value, data come from one national so...",7.651
830907,United Kingdom of Great Britain and Northern I...,826,% of the agricultural holdings with irrigation...,2010,NaN,NaN,"Official value, data come from one national so...",2.463
830908,Sweden,752,% of the agricultural holdings with irrigation...,2010,NaN,NaN,"Official value, data come from one national so...",2.795

In [6]:
COUNTRY = "Kenya"

In [7]:
country = data.query(expr=f"Country == '{COUNTRY}'")

In [8]:
country.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5002 entries, 60 to 830879
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Country             5002 non-null   object
 1   M49                 5002 non-null   int64
 2   Variable            5002 non-null   object
 3   Year                5002 non-null   int64
 4   Unit                0 non-null      float64
 5   Symbol              4258 non-null   object
 6   Symbol Description  5002 non-null   object
 7   Value               5002 non-null   float64
dtypes: float64(2), int64(2), object(4)
memory usage: 351.7+ KB

In [9]:
country

,Country,M49,Variable,Year,Unit,Symbol,Symbol Description,Value
60,Kenya,404,Municipal water withdrawal,1999,NaN,I,"Imputed (carry forward, vertical imputation, l...",0.449385
232,Kenya,404,Area equipped for full control irrigation: sur...,1999,NaN,I,"Imputed (carry forward, vertical imputation, l...",41.180000
413,Kenya,404,Area equipped for irrigation by surface water,1999,NaN,I,"Imputed (carry forward, vertical imputation, l...",91.136667
545,Kenya,404,Harvested irrigated temporary crop area: Veget...,1999,NaN,I,"Imputed (carry forward, vertical imputation, l...",29.587692
579,Kenya,404,Harvested irrigated permanent crop area: Other...,1999,NaN,I,"Imputed (carry forward, vertical imputation, l...",0.030000
...,...,...,...,...,...,...,...,...
830640,Kenya,404,Groundwater: entering the country (total),2010,NaN,NaN,"Official value, data come from one national so...",0.000000
830656,Kenya,404,Groundwater: leaving the country to other coun...,2010,NaN,NaN,"Official value, data come from one national so...",0.000000
830779,Kenya,404,Area equipped for irrigation: spate irrigation,2010,NaN,NaN,"Official value, data come from one national so...",6.470000
830860,Kenya,404,Water withdrawal for livestock (watering and c...,2010,NaN,NaN,"Official value, data come from one national so...",0.255000
830879,Kenya,404,Number of municipal wastewater treatment facil...,2010,NaN,NaN,"Official value, data come from one national so...",27.000000

In [10]:
selekta = country[['Variable','Year','Symbol','Symbol Description','Value']].copy()

In [11]:
selekta.sample(n=5)

,Variable,Year,Symbol,Symbol Description,Value
662702,Prevalence of undernourishment (3-year average),2010,X,External value (reported by FAOSTAT or another...,24.300
615354,Irrigation potential,1992,NaN,"Official value, data come from one national so...",353.000
252311,Irrigation water requirement,2003,E,Estimate either calculated as sum or identify ...,0.486
241506,% of agricultural water managed area equipped ...,2000,I,"Imputed (carry forward, vertical imputation, l...",100.000
479003,Groundwater: entering the country (total),2008,NaN,"Official value, data come from one national so...",0.000

In [12]:
selekta["Symbol"].value_counts(dropna=False)

Symbol
E      1850
I      1363
X      1045
NaN     744
Name: count, dtype: int64

In [13]:
symbol_meaning = {symbol: set(selekta['Symbol Description'][selekta['Symbol'].isna() if pd.isna(symbol) else selekta['Symbol'] == symbol]) for symbol in selekta['Symbol'].unique()}
symbol_meaning

{'I': {'Imputed (carry forward, vertical imputation, linear interpolation)'},
 'X': {'External value (reported by FAOSTAT or another international agency)'},
 'E': {'Estimate either calculated as sum or identify (yield) from official values or from an AQUASTAT estimation'},
 nan: {'Official value, data come from one national source (FAO questionnaire on water and agriculture, report, publication, official website, etc.)'}}

Mmmmm ...

In [14]:
distilled = selekta.pivot(index="Year", columns="Variable").copy()
distilled.columns = distilled.columns.get_level_values(1)

In [15]:
distilled.head()

Variable,% of agricultural GVA produced by irrigated agriculture,% of agricultural water managed area equipped for irrigation,% of area equipped for full control irrigation actually irrigated,% of area equipped for irrigation by direct use of non-treated municipal wastewater,% of area equipped for irrigation by groundwater,% of area equipped for irrigation by surface water,% of area equipped for irrigation power irrigated,% of area equipped for irrigation salinized,% of irrigation potential equipped for irrigation,% of the area equipped for irrigation actually irrigated,...,Total renewable water resources,Total renewable water resources per capita,Total water withdrawal,Total water withdrawal per capita,Treated municipal wastewater,Urban population,Urban population with access to safe drinking-water (JMP),Water resources: total external renewable,Water withdrawal for aquaculture,Water withdrawal for livestock (watering and cleaning)
Year,,,,,,,,,,,,,,,,,,,,,
1967,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,30.7,3009.488810,NaN,NaN,NaN,935.108,NaN,10.0,NaN,NaN
1968,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,30.7,2892.439775,NaN,NaN,NaN,1000.347,NaN,10.0,NaN,NaN
1969,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,30.7,2780.910202,NaN,NaN,NaN,1070.482,NaN,10.0,NaN,NaN
1970,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,30.7,2675.827351,NaN,NaN,NaN,1158.465,NaN,10.0,NaN,NaN
1971,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,30.7,2580.166487,NaN,NaN,NaN,1256.485,NaN,10.0,NaN,NaN

In [16]:
prime = distilled.loc[:, distilled.notna().all()].copy()

In [17]:
print(f"{len(distilled.columns) - len(prime.columns)} columns less. Nice.")

256 columns less. Nice.

In [18]:
prime.head()

Variable,% of total country area cultivated,"Agriculture, value added (% GDP)","Agriculture, value added to GDP",Arable land area,Cultivated area (arable land + permanent crops),Dam capacity per capita,Dependency ratio,Environmental Flow Requirements,Gross Domestic Product (GDP),Groundwater: accounted outflow to other countries,...,Total exploitable water resources,Total internal renewable water resources (IRWR),Total internal renewable water resources per capita,Total population,Total renewable groundwater,Total renewable surface water,Total renewable water resources,Total renewable water resources per capita,Urban population,Water resources: total external renewable
Year,,,,,,,,,,,,,,,,,,,,,
1967,E,X,X,X,X,E,E,X,X,E,...,0.6,20.7,2029.199296,10201.068,3.5,30.2,30.7,3009.488810,935.108,10.0
1968,E,X,X,X,X,E,E,X,X,E,...,0.6,20.7,1950.276982,10613.877,3.5,30.2,30.7,2892.439775,1000.347,10.0
1969,E,X,X,X,X,E,E,X,X,E,...,0.6,20.7,1875.076260,11039.551,3.5,30.2,30.7,2780.910202,1070.482,10.0
1970,E,X,X,X,X,E,E,X,X,E,...,0.6,20.7,1804.222351,11473.087,3.5,30.2,30.7,2675.827351,1158.465,10.0
1971,E,X,X,X,X,E,E,X,X,E,...,0.6,20.7,1739.721377,11898.457,3.5,30.2,30.7,2580.166487,1256.485,10.0

In [19]:
prime.isna().any().any()

np.False_

In [20]:
prime = prime.select_dtypes(include='number').copy()

In [21]:
prime.sample(n=7)

Variable,% of total country area cultivated,"Agriculture, value added (% GDP)","Agriculture, value added to GDP",Arable land area,Cultivated area (arable land + permanent crops),Dam capacity per capita,Dependency ratio,Environmental Flow Requirements,Exploitable: regular renewable groundwater,Gross Domestic Product (GDP),...,Total exploitable water resources,Total internal renewable water resources (IRWR),Total internal renewable water resources per capita,Total population,Total renewable groundwater,Total renewable surface water,Total renewable water resources,Total renewable water resources per capita,Urban population,Water resources: total external renewable
Year,,,,,,,,,,,,,,,,,,,,,
1996,8.875373,15.613532,2.350271e+09,4671.0,5151.0,896.610360,32.57329,18.57,0.6,1.505278e+10,...,0.6,20.7,749.572635,27615.736,3.5,30.2,30.7,1111.685019,5229.563,10.0
1987,8.847804,16.959161,2.198088e+09,4655.0,5135.0,1070.742953,32.57329,18.57,0.6,1.296107e+10,...,0.6,20.7,991.279898,20882.094,3.5,30.2,30.7,1470.159075,3438.421,10.0
1989,9.912642,16.530741,2.241798e+09,5273.0,5753.0,998.729308,32.57329,18.57,0.6,1.356139e+10,...,0.6,20.7,924.610602,22387.803,3.5,30.2,30.7,1371.282390,3731.016,10.0
2015,10.968865,19.469615,1.365218e+10,5800.0,6366.0,529.017883,32.57329,18.57,0.6,7.012045e+10,...,0.6,20.7,441.821613,46851.488,3.5,30.2,30.7,655.262006,12119.756,10.0
2018,11.025725,20.314910,1.873095e+10,5800.0,6399.0,496.168882,32.57329,18.57,0.6,9.220298e+10,...,0.6,20.7,414.387004,49953.304,3.5,30.2,30.7,614.573963,13771.805,10.0
1985,8.708238,17.856163,1.782122e+09,4574.0,5054.0,1119.213182,32.57329,18.57,0.6,9.980430e+09,...,0.6,20.7,1016.000000,19452.161,3.5,30.2,30.7,1520.000000,3159.732,10.0
1988,9.238934,16.842528,2.333219e+09,4882.0,5362.0,1033.904969,32.57329,18.57,0.6,1.385314e+10,...,0.6,20.7,957.175771,21626.122,3.5,30.2,30.7,1419.579525,3583.147,10.0

And we have complete data :)

Let the fun begin!

In [22]:
gc.collect()

29

Are there columns that have the same value for all rows?

In [23]:
static_dimensions = prime.loc[:, prime.nunique() == 1]

In [24]:
static_dimensions.info()

<class 'pandas.core.frame.DataFrame'>
Index: 55 entries, 1967 to 2021
Data columns (total 32 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Dependency ratio                                                     55 non-null     float64
 1   Environmental Flow Requirements                                      55 non-null     float64
 2   Exploitable: regular renewable groundwater                           55 non-null     float64
 3   Groundwater produced internally                                      55 non-null     float64
 4   Groundwater: accounted inflow                                        55 non-null     float64
 5   Groundwater: accounted outflow to other countries                    55 non-null     float64
 6   Groundwater: entering the country (total)                            55 non-null     float64
 7   Groundwater: leaving the country to other countries (total)          55 non-null     float64
 8   Irrigation potential                                                 55 non-null     float64
 9   Overlap between surface water and groundwater                        55 non-null     float64
 10  Overlap: between surface water and groundwater                       55 non-null     float64
 11  Ratio between rainfed and irrigated yields                           55 non-null     float64
 12  Surface water produced internally                                    55 non-null     float64
 13  Surface water: accounted flow of border rivers                       55 non-null     float64
 14  Surface water: accounted inflow                                      55 non-null     float64
 15  Surface water: entering the country (total)                          55 non-null     float64
 16  Surface water: inflow not submitted to treaties                      55 non-null     float64
 17  Surface water: inflow secured through treaties                       55 non-null     float64
 18  Surface water: inflow submitted to treaties                          55 non-null     float64
 19  Surface water: leaving the country to other countries (total)        55 non-null     float64
 20  Surface water: outflow to other countries not submitted to treaties  55 non-null     float64
 21  Surface water: outflow to other countries secured through treaties   55 non-null     float64
 22  Surface water: outflow to other countries submitted to treaties      55 non-null     float64
 23  Surface water: total external renewable                              55 non-null     float64
 24  Surface water: total flow of border rivers                           55 non-null     float64
 25  Total area of the country (excl. coastal water)                      55 non-null     float64
 26  Total exploitable water resources                                    55 non-null     float64
 27  Total internal renewable water resources (IRWR)                      55 non-null     float64
 28  Total renewable groundwater                                          55 non-null     float64
 29  Total renewable surface water                                        55 non-null     float64
 30  Total renewable water resources                                      55 non-null     float64
 31  Water resources: total external renewable                            55 non-null     float64
dtypes: float64(32)
memory usage: 14.2 KB

Let's remove them from the dataset for now. Figure out what to do with them later.

In [25]:
prime.drop(columns=prime.columns[prime.nunique() == 1], inplace=True)

In [26]:
prime.info()

<class 'pandas.core.frame.DataFrame'>
Index: 55 entries, 1967 to 2021
Data columns (total 20 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   % of total country area cultivated                   55 non-null     float64
 1   Agriculture, value added (% GDP)                     55 non-null     float64
 2   Agriculture, value added to GDP                      55 non-null     float64
 3   Arable land area                                     55 non-null     float64
 4   Cultivated area (arable land + permanent crops)      55 non-null     float64
 5   Dam capacity per capita                              55 non-null     float64
 6   Gross Domestic Product (GDP)                         55 non-null     float64
 7   Industry, value added to GDP                         55 non-null     float64
 8   Long-term average annual precipitation in depth      55 non-null     float64
 9   Long-term average annual precipitation in volume     55 non-null     float64
 10  National Rainfall Index (NRI)                        55 non-null     float64
 11  Permanent crops area                                 55 non-null     float64
 12  Population density                                   55 non-null     float64
 13  Rural population                                     55 non-null     float64
 14  Services, value added to GDP                         55 non-null     float64
 15  Total dam capacity                                   55 non-null     float64
 16  Total internal renewable water resources per capita  55 non-null     float64
 17  Total population                                     55 non-null     float64
 18  Total renewable water resources per capita           55 non-null     float64
 19  Urban population                                     55 non-null     float64
dtypes: float64(20)
memory usage: 9.0 KB

In [27]:
prime.head()
prime.tail()

Variable,% of total country area cultivated,"Agriculture, value added (% GDP)","Agriculture, value added to GDP",Arable land area,Cultivated area (arable land + permanent crops),Dam capacity per capita,Gross Domestic Product (GDP),"Industry, value added to GDP",Long-term average annual precipitation in depth,Long-term average annual precipitation in volume,National Rainfall Index (NRI),Permanent crops area,Population density,Rural population,"Services, value added to GDP",Total dam capacity,Total internal renewable water resources per capita,Total population,Total renewable water resources per capita,Urban population
Year,,,,,,,,,,,,,,,,,,,,
1967,6.771542,36.510000,414847834.0,3500.0,3930.0,1962.410210,1.232560e+09,215291914.0,630.0,365.6331,970.700,430.0,17.576835,9219.376,5.061278e+08,20.01868,2029.199296,10201.068,3009.488810,935.108
1968,6.780157,34.600000,429071828.0,3500.0,3935.0,1887.593007,1.353295e+09,239007904.0,630.0,365.6331,933.300,435.0,18.288121,9501.898,5.720398e+08,20.03468,1950.276982,10613.877,2892.439775,1000.347
1969,6.788773,33.790000,450603819.0,3500.0,3940.0,1814.809316,1.458379e+09,263143895.0,630.0,365.6331,895.900,440.0,19.021574,9797.234,6.199756e+08,20.03468,1875.076260,11039.551,2780.910202,1070.482
1970,6.797388,20.543973,566807616.0,3500.0,3945.0,1746.232727,2.758997e+09,589867178.0,630.0,365.6331,859.075,445.0,19.768573,10094.027,1.633200e+09,20.03468,1804.222351,11473.087,2675.827351,1158.465
1971,6.806003,19.181044,586465684.0,3500.0,3950.0,1683.804883,3.057527e+09,694812969.0,630.0,365.6331,822.250,450.0,20.501502,10401.029,1.865059e+09,20.03468,1739.721377,11898.457,2580.166487,1256.485

Variable,% of total country area cultivated,"Agriculture, value added (% GDP)","Agriculture, value added to GDP",Arable land area,Cultivated area (arable land + permanent crops),Dam capacity per capita,Gross Domestic Product (GDP),"Industry, value added to GDP",Long-term average annual precipitation in depth,Long-term average annual precipitation in volume,National Rainfall Index (NRI),Permanent crops area,Population density,Rural population,"Services, value added to GDP",Total dam capacity,Total internal renewable water resources per capita,Total population,Total renewable water resources per capita,Urban population
Year,,,,,,,,,,,,,,,,,,,,
2017,11.006772,20.886251,1.714026e+10,5800.0,6388.0,506.357882,8.206480e+10,1.227030e+10,630.0,365.6331,902.1,588.0,84.339537,36498.515,4.790919e+10,24.785275,422.896585,48948.137,627.194453,13201.347
2018,11.025725,20.314910,1.873095e+10,5800.0,6399.0,496.168882,9.220298e+10,1.381944e+10,630.0,365.6331,902.1,599.0,86.071479,37179.074,5.379492e+10,24.785275,414.387004,49953.304,614.573963,13771.805
2019,11.044678,21.169503,2.094011e+10,5800.0,6410.0,486.448865,1.005542e+11,1.483142e+10,630.0,365.6331,902.1,610.0,87.791323,37851.953,5.833482e+10,24.785275,406.269105,50951.450,602.534373,14362.838
2020,11.044678,23.047567,2.277179e+10,5800.0,6410.0,476.770282,1.010137e+11,1.542635e+10,630.0,365.6331,902.1,610.0,89.573513,38516.638,5.637463e+10,24.785275,398.185812,51985.780,590.546107,14975.059
2021,11.044678,21.785564,2.474890e+10,5800.0,6410.0,467.597168,1.105579e+11,1.656081e+10,630.0,365.6331,902.1,610.0,91.330727,39172.008,6.223591e+10,24.785275,390.524672,53005.614,579.183933,15608.844